body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.wrapper {
    display: flex;
    overflow:hidden;
    padding: 5px;
    gap: 20px;
    flex-direction: column;
}
.header{
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.logo-img{
    height: 30px;
}
.logo-name{
    font-size: 20px;
    font-weight: bolder;
    margin: 0 0 0 0;
}
.createNotesButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    background: #FFE4B0;
    border-radius: 15px;
    position: fixed;
    bottom:5%;
    left: 80%;
}
.createIcon{
    width: 30px;
    padding: 5px 5px 5px 5px;
}
.modalWindow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(211, 211, 211, 0.615);
}
.modalForm{
    display: flex;
    padding: 20px;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 40%;
    height: 60%;
    border: 2px solid black;
}
.titleNotes {
    width: 90%;
    font-size: 24px;
    padding: 10px;
    border-radius: 15px;
}
.bodyNotes {
    width: 90%;
    font-size: 24px;
    padding: 10px;
    resize: none;
    border-radius: 15px;
}
.saveNotesButton {
    display: flex;
    width: 40%;
    height: 10%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid black;
    font-weight: bolder;
    text-align: center;
    border-radius: 15px;
}
.saveNotesButton:hover {
    background: darkgray;
    transition: 0.5s;
}
.notesPreview{
    display: flex;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #FFF7E6;
    color: #795106;
    cursor: pointer;
}
.notesPreviewName{
    font-weight: bolder;
    font-size: 18px;
}
.notesPreviewBody{
    text-align: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 10px 10px;
    font-size: 16px;
}
.main-block {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    overflow: hidden;
    height: 100%;
    gap:15px;
}